* {
    color:#ffffff;
    font-family: 'BebasNeueRegular', sans-serif;
    margin:0;
}

.jour, .ciel, .haut p {
    font-family: 'BebasNeueLight', sans-serif;
    
}

.gauche span {
    font-family: 'Roboto', monospace;
    font-weight: lighter;
}
.content {
    border: 0.5px solid rgb(209,209,209, 0.3);
    background-color:#00728B;
    background: linear-gradient( #00728B, #3EC9BF);
    background: -webkit-linear-gradient (#00728B, #3EC9BF);
    background: -moz-linear-gradient (#00728B, #3EC9BF);
    background: -o-linear-gradient (#00728B, #3EC9BF);
    flex-direction: column;
    padding: 2%;
    width : 500px;
    height : 300px;
    display: flex;
    overflow: hidden;
}

.card {
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow : rgb(10, 10, 25, 0.3) 0 0px 20px 10px;
    background: radial-gradient(ellipse farthest-corner at 120% 100%, rgb(71, 176, 168, 0.3) 70%, rgb(000,255,255, 0.3) 10%, rgb(255,255,255, 0.2) 50%);
    margin: 2%;
    width : 90%;
    padding-left: 4%;
    padding-top: 3%;
    border-radius : 10px;
    flex-wrap: wrap;
}

.haut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.haut h2 {
    font-size: 4em;
}
.haut p {
    margin-top: 2%;
    margin-right: 5%;
    font-size : 2em;
}

.gauche {
    display: flex;
    flex-direction : column;
}

.gauche p, .humidity {
    font-size : 1.6em;
}

.gauche span, .humidity span {
    font-size : 1.2em;
}

.jour {
    font-size: 2em;
}

.bas_carte { 
    display: flex;
    flex-direction : column;
    justify-content: center;
    margin-top: -2%;
    margin-bottom : 1%;
    padding-bottom: 1em;
    margin-left: 7%;
}

.sky_temp {
    font-size: 7.5em;
    display : flex;
    justify-content: center;
    margin-left: -10%;
}
.sky_temp i {
    transform: scaleX(-1);
    font-size: 1.2em;
    margin-top: -5%;;
    margin-right: 4%;
    margin-left: -4%;
}
.ciel {
    display:flex;
    font-size: 1.9em;
    letter-spacing: 1;
    justify-content: center;
    margin-top: 0%;
}

.temperature {
    margin-right: 0.3%;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 0.1%;
}

.bas {
    display: flex;
    justify-content: space-between;
}